.weather {
  border: 1px solid #0c235b;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px;
}
.weather-info {
  margin: 10px;
  padding: 10px;
}
ul {
  list-style-type: none;
}
form {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 20px;
  border-color: #2c5d63;
}
.temperature {
  font-weight: bold;
  font-size: 40px;
}
