.WeatherForecast {
  text-align: center;
  border-top: 3px solid #d3f6d1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.WeatherForecast-temperature-max {
  font-weight: bold;
}
.WeatherForecast-day {
  font-size: 14px;
  margin-bottom: 5px;
}
.WeatherForecast-temperature {
  font-size: 12px;
}
