.weather {
  border: 1px solid #d3f6d1;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px;
}
.weather-info {
  margin: 10px;
  padding: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
form {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 20px;
  padding-bottom: 0px;
  border-color: #2c5d63;
  display: flex;
}
.temperature {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  top: -5px;
  margin-right: 5px;
}
.unit {
  font-size: 15px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
}

.Weather canvas {
  margin-right: 0 auto;
  display: inline-block;
}
span .temperature {
  margin-left: 10px;
}
.btn {
  background-color: #2c5d63;
  color: #f1fff1;
}
a {
  color: #2c5d63;
}
.row {
  margin-bottom: 10px;
}
.current {
  background-color: #2c5d63;
}
